<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('./partials/head')%>
    <link rel="stylesheet" href="../../public/css/main.css" />
</head>

<body>

  <%- include('./partials/overlay') %>
    <div class="container-fluid overflow-hidden text-center bg-secondary min-fit">
      <div class="row">
        <div class="col-12">
          <%- include('./partials/header'); %>
        </div>
      </div>
      <div class="row gy-4 mt-1 mb-5">
        <div class="col-12 mb-2">
          <h2>
            <%=item? 'Edit' : 'Add' %> Product
          </h2>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-8 col-11 container-fluid">
          <form id="productForm" action='<%=item ? "/product/update":"/product/add"%>'
            method='<%=item ? "put":"post"%>'>
            <div class="p-3 card bg-dark text-dark flex-grow rounded">
              <div class="col-10 container-fluid text-start">
                <div class="form-floating my-4">
                  <select name="category" class="form-select" id="selectCategoryGroup"
                    aria-label="Example select with button addon">
                    <% for( let index=0; index < categories.length; index++ ) { %>
                      <%if(item && item.category==categories[index].title){%>
                        <option class="capitalize" value="<%= categories[index].title%>" selected>

                          <%}else if(!item && index==0){%>
                        <option class="capitalize" value="<%= categories[index].title%>" selected>

                          <% }else{ %>
                        <option class="capitalize" value="<%= categories[index].title%>">

                          <%}%>
                            <%= categories[index].title.charAt(0).toUpperCase()+categories[index].title.slice(1)%>
                        </option>
                        <%}%>
                  </select>
                  <label for="selectCategoryGroup">Category</label>
                </div>
              </div>

              <div class="col-10 container-fluid text-start">
                <div class="form-floating mb-4">
                  <input name="title" type="text" class="form-control" placeholder="Enter name"
                    aria-label="Recipient's username" aria-describedby="button-addon2" required
                    value="<%=item? item.title : null%>" />
                  <label>Name</label>
                </div>
              </div>

              <div class="col-10 container-fluid text-start">
                <div class="form-floating">
                  <input name="price" type="number" min="0" class="form-control" placeholder="Enter price"
                    aria-label="Recipient's username" aria-describedby="button-addon2" required
                    value="<%=item? item.price : null%>" />
                  <label for="Price">Price</label>
                  />
                </div>
              </div>

              <div class="col-10 container-fluid text-start">
                <div class="form-floating">
                  <input name="image" type="text" class="form-control" placeholder="Enter url"
                    aria-label="Recipient's username" aria-describedby="button-addon2" required
                    value="<%=item? item.image : null%>" />
                  <label for="Image URL">Image URL</label>
                  />
                </div>
              </div>

              <div>
                <button type="submit" class="btn btn-primary">
                  <%=item ? 'Update' :'Add' %> Product
                </button>

                <%if(item){%>
                  <button id="removeBtn" class="btn btn-danger d-none" onclick="removeProduct('<%=item._id%>')">
                    Remove
                  </button>
                  <%}%>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./partials/footer'); %>

      <script src="../../public/js/products.js"></script>

      <script>
        $(() => {

          const user = JSON.parse(localStorage.getItem('user'));

          if (user && user.isAdmin) {
            $('#removeBtn').removeClass('d-none');
          }

        })
      </script>
</body>

</html>