<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('./partials/head')%>
    <link rel="stylesheet" href="../../public/css/main.css" />
</head>

<body>
  <%- include('./partials/overlay') %>
    <div class="container-fluid overflow-hidden text-center bg-secondary min-fit">
      <div class="row">
        <div class="col-12">
          <%- include('./partials/header'); %>
        </div>
      </div>
      <div class="row gy-4 mt-1 mb-5">
        <div class="col-12 mb-2">
          <h2>
            <%=user ? `Username: ${user.email}` : 'Add User' %>
          </h2>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-8 col-11 container-fluid">
          <form id="addUser" action="<%=user ? '/user':'/user/register' %>" method="<%=user ? 'put':'post' %>">
            <div class="p-3 py-4 card bg-dark text-dark flex-grow rounded">
              <div class="col-10 container-fluid">
                <div class="form-floating mb-3 text-start">
                  <input name="firstName" type="text" class="form-control" placeholder="Enter name"
                    aria-label="Recipient's username" aria-describedby="button-addon2" required value="<%=user ?
                  user.firstName:null %>" />
                  <label for="firstName">First Name</label>
                </div>
              </div>
              <div class="col-10 container-fluid">
                <div class="form-floating mb-3 text-start">
                  <input name="lastName" type="text" class="form-control" placeholder="Enter name"
                    aria-label="Recipient's username" aria-describedby="button-addon2" required value="<%=user ?
                  user.lastName:null %>" />
                  <label for="lastName">Last Name</label>
                </div>
              </div>
              <% if(!user){%>
                <div class="col-10 container-fluid">
                  <div class="form-floating mb-3 text-start">
                    <input name="email" type="email" class="form-control" placeholder="name@example.com" required value="<%=user ?
                      user.email:null %>" />
                    <label for="email">Email address</label>
                  </div>
                </div>
                <div class="col-10 container-fluid">
                  <div class="form-floating text-start">
                    <input name="password" type="password" class="form-control" placeholder="Enter Password"
                      aria-label="Recipient's username" aria-describedby="button-addon2" required />
                    <label for="password">Password</label>
                    />
                  </div>
                </div>

                <div class="col-10 container-fluid">
                  <div class="form-floating mb-3 text-start">
                    <select name="gender" class="form-select" type="gender" aria-label="Default select example" required
                      value="<%=user ?
                  user.gender:null %>">
                      <option value="male" selected>Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                    <label for="'gender">Gender</label>
                  </div>
                </div>
                <%}%>

                  <div class="col-10 container-fluid">
                    <div class="form-floating mb-3 mt-0 text-start">
                      <input name="age" type="number" min="0" class="form-control" placeholder="Enter Age"
                        aria-label="Recipient's username" aria-describedby="button-addon2" required value="<%=user ?
                  user.age:null %>" />
                      <label for="age">Age</label>
                    </div>
                  </div>

                  <div id="adminCheckbox" class="col-10 container-fluid d-none">
                    <div class="col-4 mb-3 text-start text-light">
                      <label for="isAdmin" class="fs-4 mr-4">Admin</label>
                      <input id="isAdminInput" type="checkbox" class="m-auto" name="isAdmin">
                    </div>
                  </div>

                  <div id="update-success" class="text-light fs-5 d-none">
                    User Updated Successfully
                  </div>

                  <div>
                    <button type="submit" class="btn btn-primary mt-3">
                      <%=user ? "Update" : "Sign In" %>
                    </button>
                  </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./partials/footer'); %>

      <script>
        $(() => {
          const user = JSON.parse(localStorage.getItem('user'));
          user && user.isAdmin && $('#adminCheckbox').toggleClass('d-none');
        })
      </script>
</body>

</html>