<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="../public/css/login-page.css" type="text">
</head>

<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/beforeEndOfMain'); %>
    <%- include('./partials/endOfMain'); %>
        <%- include('./partials/footer'); %>

</body>

</html>